.header{
  padding-top: 91px;
  padding-left: 20px;
  padding-right: 20px;
  &__primary{
    font-size: 23px;
    font-weight: 200;
    text-align: center;
    //padding-bottom: 10px;

  }
  &__secondary{
    font-size: 23px;
    text-align: center;
  }
  &__intro{
    padding-top: 32px;
    font-size: $copy-font;
    text-align: center;
    color: grey;
    opacity: .6;
  }
}
@include responsive($xl-desktop){
  .header{

    &__primary{
      font-size: 35px;
    }
    &__secondary{
      font-size: 35px;
    }
    &__intro{
      padding-left: 30%;
      padding-right: 30%;

    }
  }
}