@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap");
.header {
  padding-top: 91px; }
  .header__primary {
    font-size: 23px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 21px; }
  .header__secondary {
    font-size: 23px;
    text-align: center; }
  .header__intro {
    font-size: 15px;
    text-align: center; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: Poppins, sans-serif; }

.container {
  margin: 0 auto;
  max-width: 91.2%; }
